<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>
    <!-- Topbar Search -->
<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" 
action="{% url 'recherche_annonces' %}" method="GET">
<div class="input-group">
  <input type="text" name="q" id="searchInput" class="form-control bg-light border-0 small" 
         placeholder="Rechercher une annonce..." value="{{ query }}">
  <div class="input-group-append">
      <button class="btn btn-primary" type="submit">
          <i class="fas fa-search fa-sm"></i>
      </button>
  </div>
</div>
</form>

</nav>
<!-- End of Topbar -->